<h2 class="ui center aligned icon header">
  <i class="comment alternate outline icon teal"></i>
  Say hello!
</h2>
<div class="flex-LR">
  <div class="wide-block bordered">
    <div class="ui small feed">
      <h4 class="ui header">Chatroom</h4>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Christian Rocha</a> signed up for the  site.
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end of one block -->

<div class="narrow-block bordered">
    <div class="ui inverted vertical menu">
      <a class="active item">
        Friends
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
    </div>
  </div> <!-- end of 2nd block -->
</div> <!-- end of flex-LR -->
