<h2 class="ui center aligned icon header">
  <i class="comment alternate outline icon teal"></i>
  Say hello!
</h2>
<div class="flex-LR">
  <div class="wide-block bordered">
    <div class="ui feed">
      <h4 class="ui header">Chatroom</h4>
      <div class="event">
        <div class="content">
          <div class="summary">
             <b>Elliot Fu</b>: Wazzaaaappp
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <b>Stevie Feliciano</b>: WAZZAAAPP!!
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <b>Helen Troy</b>: WAZZAAAPP!!
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <b>Christian Rocha</b>: ...what?
          </div>
        </div>
      </div>
    </div>

    <div class="bottom">
      <div class="ui fluid action input">
        <input type="text" placeholder="Your message...">
          <div class="ui button">Send</div>
      </div>
    </div>
  </div> <!-- end of wide-block -->

<div class="narrow-block bordered">
    <div class="ui inverted vertical menu">
      <a class="active item">
        Friends
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
    </div>
  </div> <!-- end of narrow-block -->
</div> <!-- end of flex-LR -->
