@import "semantic-ui";

p{
  padding:0;
  margin:0;
}

.row{
  display:flex;
  flex-direction: row wrap;
}

.screenname{
  margin-right: 5px;
  color: rgb(79,178,172);
  font-weight: bold;
}

.container{
  width:80%;
  margin: 0 auto;
}

.flex-LR{
  display: flex;
  flex-direction: row;
}

.wide-block{
  width: 66%;
  min-height: 60vh;
}

.chatbox{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.narrow-block{
  width:33%;
  min-height: 60vh;
}

.bordered{
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #e3e3e3;
}

.bottom{
  position:relative;
  top: 60%;
}
